@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-iMage: url("https://i.pinimg.com/736x/02/f2/64/02f2649eaa7743a8e0a117c3e0a386ee.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: pink;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid pink;
}



